extends baseEmail 

block content 
  p Hi #{firstName},
  p Forgor your password? please click on this link and reset your password : #{url}
  
  
  p Ignore this email if you remember your password.
